body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdffee;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor
{
    background-color: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

h2
{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label
{
    font-weight: bold;
}

input
{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button
{
    width: 100%;
    padding: 10px;
    background-color: #f35ac0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover
{
    background-color: #fa87d7;
}


#mensaje
{
    margin-top: 20px;
    padding: 10px;
    background-color: #ffe0f6;
    border-radius: 5px;
    color: #000000;
    font-weight: bold;
}